# Служебные файлы Ext
.sencha

# Служебные файлы phpStorm
.idea
.idea/*

# Директория или символическая ссылка на библиотеку ExtJS
# Пока закомментируем.
# Принято решение, что ext это символическая ссылка на ../rewources/ext-build-classic-triton-6.2.0/
ext

# Директория со сборками
build/*
# Но включаем папку со сборкой на прод
!build/production

# Директория с примерами компилируемых стилей
sass/example
sass/config.rb

# Генерируемые в процессе сборки файлы
bootstrap.*
classic.*
modern.*
